<ul class="nav nav-pills nav-stacked">
    <li role="presentation" routerLinkActive="active"><a routerLink="/list">List</a></li>
    <li *ngIf="hasRole('SHOPKEEPER')" role="presentation" routerLinkActive="active"><a routerLink="/add">Add</a></li>
    <li *ngIf="noRole('ADMIN,USER')" role="presentation" routerLinkActive="active"><a routerLink="/login">Login</a></li>
    <li *ngIf="noRole('ADMIN,USER')" role="presentation" routerLinkActive="active"><a routerLink="/register">Register</a></li>
    <li *ngIf="noRole('ADMIN')" role="presentation" routerLinkActive="active"><a routerLink="/userlist">User List</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/cart">Cart</a></li>
    <li *ngIf="hasRole('ADMIN,USER')" role="presentation" routerLinkActive="active"><button class="btn btn-danger" (click)="logout()">Log out</button></li>
</ul>
